.c-block {
    padding: 22px;
}

.c-topbar-text {
    padding: 25px 15px;
}

mh1 {
    margin: 0 0;
    padding: 0 0;
    display: flex;
}

#uplift-navbar-links {
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    display: table;
}

#uplift-navbar-links > a {
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    transition: all 0.2s ease-out;
}

#uplift-navbar-links > a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #EEE;
    text-decoration: none;
}

#uplift-navbar-links > a:active {
    background: rgba(0, 0, 0, 0.3);
    color: #DDD;
    transform: scale(0.93);
}

#uplift-main {}

/* uint = Uplift INTernal */
.uint0, .uplift-subtitle, u-section > .uplift-text, u-section > .uplift-quote {
    box-sizing: border-box;
}

.uplift-subtitle {
    font-family: Montserrat, Roboto, sans-serif;
    color: #dedede;
    font-size: 34px;
    line-height: 100%;
    padding: 1px 18px 18px 18px;
    width: 100%;
    box-sizing: border-box;
}

u-section > .uplift-text, u-semilarge {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #eee;
    padding: 13px 13px;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 135%;
}

.uplift-quote {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: #FFF;
    padding: 50px 40px;
    font-style: italic;
    overflow: hidden;
}

.uplift-quote > .uplift-quote-credits {
    margin-top: 20px;
    float: right;
    font-style: italic;
}

u-section > .uplift-quote > .uplift-quote-credits > em {
    color: #ddd;
    text-decoration: underline;
}

body {
    width: 100%;
    height: 100%;
}

u-section {
    padding: 70px 90px;
    margin: 0 auto;
    max-width: 1100px;
    display: block;
}

u-section-wrapper {
    width: 100%;
    display: block;
}

.uplift-media > iframe {
    margin: 0 auto;
    padding: 20px 20px;
    display: block;
}

.uplift-hboxes > li {
    display: inline-block;
    padding: 15px 15px;
    margin: 5px 5px;
    box-sizing: border-box;
}
.uplift-hboxes-dark > li {
    color: #eee;
}

.uplift-center {
    margin: 0 auto;
    text-align: center;
}

u-sep {
    height: 30px;
    display: block;
}

.uplift-em, u-inline-em {
    padding: 20px 10px;
    font-size: 20px;
    font-style: italic;
    font-family: "Roboto Slab", serif;  
    line-height: 120%;
    color: #ccc;
}

u-slogan {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
}

u-slogan::after {
    content: 'Change the Parent, Change the Children, Change the Neighborhood';
}

u-semilarge {
    font-size: 23px;
    line-height: 1.2;
}

u-action {
    display: block;
    padding: 30px 30px;
    margin-left: auto;
    width: 200px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

u-action:hover {
    background-color: rgba(0,0,0,0.2);
}

u-action:active {
    transform: scale(0.9);
}

#u-footer-brand {
    margin-left: auto;
    padding: 20px 20px;
}

#u-links > div {
    padding: 20px 20px;
    height: 45px;
    margin: 10px 10px;
    transition: all 0.1s ease-out;
    cursor: pointer;
    display: flex;
}

#u-links > div:active {
    transform: scale(0.9);
}

#u-link-youtube {
    background-color: #c4302b;
}

#u-link-tumblr {
    background-color: #35465c;
}

#u-link-twitter {
    background-color: #4099FF;
}

#u-link-facebook {
    background-color: #3B5998;
}

#u-links > div > img {
   margin: auto auto;
   display: block;
   width: 45px;
   height: auto;
}

#u-links {
    display: flex;
}

footer {
    padding: 60px 60px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}